@model AutoParc.WebUI.ViewsModels.Account.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <!-- Ajout de Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEJ2QFJn68fJ4dWr5fD0oEpt6Lce+zHl2ipMkcRZ9FBeUepwTeM5hTzkMzZJb" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h2 class="text-center">Créez un nouveau compte</h2>

    <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
        
        <div class="mb-3">
            <label asp-for="Email" class="form-label">Email</label>
            <input asp-for="Email" class="form-control" placeholder="Entrez votre email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        
        <div class="mb-3">
            <label asp-for="Password" class="form-label">Mot de passe</label>
            <input asp-for="Password" class="form-control" type="password" placeholder="Entrez votre mot de passe" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        
        <div class="mb-3">
            <label asp-for="ConfirmPassword" class="form-label">Confirmez le mot de passe</label>
            <input asp-for="ConfirmPassword" class="form-control" type="password" placeholder="Confirmez votre mot de passe" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        

        <div class="form-group">
            <label for="EntrepriseId" class="form-label">Entreprise</label>
            <select asp-for="EntrepriseId" asp-items="Model.AllEntreprises" class="form-control">
                <option value="">Sélectionnez une entreprise</option>
            </select>
            <span asp-validation-for="EntrepriseId" class="text-danger"></span>
        </div>
        
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">S'inscrire</button>
        </div>
    </form>

    <div class="text-center mt-3">
        <p>Déjà un compte? <a href="@Url.Action("Login", "Account")">Se connecter</a></p>
    </div>
</div>

<!-- Ajout des scripts Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pzjw8f+ua7Kw1TIq0rwGZL7s9zzEz1U2XxEYbYhZfRqaV4DXg5u5/hklU3l/h8f9" crossorigin="anonymous"></script>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
</body>
</html>
