<tr>
    <td>@Model.Nom</td>
    <td>
        <span class="@(Model.ContratActif ? "text-success" : "text-danger")">
            @if (Model.ContratActif)
            {
                <span>Contrat Actif</span>
            }
            else
            {
                <span>Contrat Inactif</span>
            }
        </span>
    </td>
    <td>
        <div class="d-flex justify-content-start gap-2">
            @if (Model.ContratActif)
            {
                <a href="@Url.Action("GetVehicule", "Vehicule", new { IdEntreprise = Model.Id })" class="btn btn-primary">
                    Voir les véhicules
                </a>
            }
            
            <a href="@Url.Action("AddOrEdit", "Entreprise", new { id = Model.Id })" class="btn btn-warning">
                Modifier
            </a>
        </div>
    </td>
</tr>
